@using IH.DrugStore.Web.Models.Customers
@model IEnumerable<CustomerListViewModel>

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>
<hr />
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<hr />

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Age)
                </td>
                <td>
                    @if (customer.PhoneNumber == null)
                    {
                        <span class="fst-italic text-muted">
                            <i class="fa-solid fa-minus"></i>
                        </span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => customer.PhoneNumber)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Gender)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@customer.Id" class="text-decoration-none">
                        <i class="fa-solid fa-circle-info text-info" title="Details"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@customer.Id" title="Edit" class="text-decoration-none ms-2">
                        <i class="fa-solid fa-pencil text-primary"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@customer.Id" title="Delete" class="text-decoration-none ms-2">
                        <i class="fa-solid fa-trash text-danger"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
