@using IH.DrugStore.Web.Models.DrugTypes
@model IEnumerable<DrugTypeViewModel>

@{
    ViewData["Title"] = "Drug Types";
}

<h1>Drug Types</h1>
<hr />
<p>
    <a class="btn btn-primary" asp-action="Create">Create New Drug Type</a>
</p>
<hr />

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var drugType in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => drugType.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@drugType.Id" class="text-decoration-none">
                        <i class="fa-solid fa-circle-info text-info" title="Details"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@drugType.Id" title="Edit" class="text-decoration-none ms-2">
                        <i class="fa-solid fa-pencil text-primary"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@drugType.Id" title="Delete" class="text-decoration-none ms-2">
                        <i class="fa-solid fa-trash text-danger"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
